{% extends 'base.html' %}

{% block title %}About{% endblock title %}

{% block content %}
<div class="header" style=" font-weight: bolder; display: flex; justify-content: center; border-bottom: .5px solid black; width: 55%; margin-left: auto; margin-right: auto;">
    <h1>The South-Texas Times</h1>
</div>
<div style="display: flex; flex-direction: row; justify-content: center; margin-left: auto; margin-right: auto; max-width: 50%; margin-top: 2rem;">
<div class="card mb-3">
    <div class="card-body">
      <h3 class="card-title">About the Paper</h3>
      <p class="card-text">The South-Texas Times was founded in 2022 by Dev Developerson. Our core values are based upon the belief that every citizen of this great state deserves to know the real truth about what goes on here on a day-to-day basis.</p>
    </div>
</div>
</div>
{% endblock content %}